<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78593722475-vudsu65bh27ku1k1t44r7tuohk6hh65b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78593722475-vudsu65bh27ku1k1t44r7tuohk6hh65b</string>
	<key>API_KEY</key>
	<string>AIzaSyA_VsIIO0bVhBgzl44Jdkuo0sFq0b5g0s8</string>
	<key>GCM_SENDER_ID</key>
	<string>78593722475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noelie.jotDown</string>
	<key>PROJECT_ID</key>
	<string>jotlist-ccdad</string>
	<key>STORAGE_BUCKET</key>
	<string>jotlist-ccdad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78593722475:ios:9b426c60eb672cd2f5092e</string>
	<key>DATABASE_URL</key>
	<string>https://jotlist-ccdad.firebaseio.com</string>
</dict>
</plist>